@import "tailwindcss";

:root {
  --background: #111217;
  --cinza: #D9D9D9;
  --cinza-hover: #878484;
  --roxo: #211824;
  --roxo-claro: #342442;
}

.bg-roxo{
  background: var(--roxo);
}

.bg-cinza{
  background: var(--cinza);
}

.bg-cinza-hover{
  background: var(--cinza);
}

.btn:hover {
  background: var(--cinza-hover);
}

.bg-roxo-claro{
  background: var(--roxo-claro);
}

input {
  background: var(--cinza);
  border-radius: .6em;
  padding: .4em 1em;
  border: none;
  color: black;
}
input::placeholder {
  color: rgb(70, 68, 68);
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20em;
  color: white;
  cursor: pointer;
}

main {
  flex: 1;
}

body {
  background: linear-gradient(135deg, #3d231d 0%, #2b1815 65%, #f4a8b8 100%);
  background-attachment: fixed;
  color: #ffffff;
}
